# Calculating the Optimal Allocation Using Kelly formula

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from numpy.linalg import inv

In [4]:
df1=pd.read_excel('OIH.xls')

In [5]:
df2=pd.read_excel('RKH.xls')

In [6]:
df=pd.merge(df1, df2, on='Date', suffixes=('_OIH', '_RKH'))

In [7]:
df.set_index('Date', inplace=True)

In [8]:
df3=pd.read_excel('RTH.xls')

In [9]:
df=pd.merge(df, df3, on='Date')

In [10]:
df.rename(columns={"Adj Close": "Adj Close_RTH"}, inplace=True)

In [11]:
df.set_index('Date', inplace=True)

In [12]:
df.sort_index(inplace=True)

In [13]:
df

,Open_OIH,High_OIH,Low_OIH,Close_OIH,Volume_OIH,Adj Close_OIH,Open_RKH,High_RKH,Low_RKH,Close_RKH,Volume_RKH,Adj Close_RKH,Open,High,Low,Close,Volume,Adj Close_RTH
Date,,,,,,,,,,,,,,,,,,
2001-05-17,91.25,94.00,90.25,93.93,276900,84.60,115.40,117.00,115.40,116.25,18500,93.63,97.75,98.45,97.70,98.00,14200,87.09
2001-05-18,94.00,96.04,93.80,94.70,546300,85.30,116.50,116.70,115.85,115.85,81800,93.31,97.30,97.75,97.25,97.75,1900,86.87
2001-05-21,95.10,95.58,93.96,95.55,627500,86.06,116.00,116.00,115.00,116.00,26500,93.43,98.20,100.15,97.80,99.95,15900,88.83
2001-05-22,95.46,95.46,93.70,94.10,371700,84.76,115.80,118.60,115.80,118.13,37900,95.15,99.75,100.90,99.15,100.10,88500,88.96
2001-05-23,93.00,93.00,90.52,90.57,682400,81.58,117.75,118.16,117.41,118.00,21300,95.04,98.80,98.80,97.95,98.20,4300,87.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007-12-21,182.99,188.30,182.51,188.30,4633500,188.30,131.03,133.34,130.19,133.28,580400,132.96,93.23,94.81,93.23,94.36,2924900,94.35
2007-12-24,189.61,189.94,186.61,189.70,1284300,189.70,134.22,135.63,134.07,134.95,214400,134.62,94.01,95.65,94.01,95.55,1216700,95.55
2007-12-26,190.05,193.61,189.15,193.60,2395800,193.60,133.98,134.62,133.26,134.43,474600,134.11,95.08,95.08,93.86,94.80,3023300,94.80
2007-12-27,192.97,193.20,190.23,190.32,4163100,190.32,133.05,133.18,131.14,131.34,689300,131.32,94.06,94.47,93.79,93.93,2412200,93.93
2007-12-28,191.64,193.28,191.22,191.72,2973500,191.72,131.97,132.51,130.14,130.92,206800,130.92,94.45,94.97,93.53,94.10,2098800,94.10

In [14]:
dailyret=df.loc[:, ('Adj Close_OIH', 'Adj Close_RKH', 'Adj Close_RTH')].pct_change()

In [15]:
dailyret.rename(columns={"Adj Close_OIH": "OIH", "Adj Close_RKH": "RKH", "Adj Close_RTH": "RTH"}, inplace=True)

In [16]:
dailyret

                 OIH       RKH       RTH
Date
2001-05-17       NaN       NaN       NaN
2001-05-18  0.008274 -0.003418 -0.002526
2001-05-21  0.008910  0.001286  0.022562
2001-05-22 -0.015106  0.018410  0.001463
2001-05-23 -0.037518 -0.001156 -0.018997
...              ...       ...       ...
2007-12-21  0.035184  0.020571  0.017909
2007-12-24  0.007435  0.012485  0.012719
2007-12-26  0.020559 -0.003788 -0.007849
2007-12-27 -0.016942 -0.020804 -0.009177
2007-12-28  0.007356 -0.003046  0.001810

[1663 rows x 3 columns]

In [17]:
excessRet=dailyret-0.04/252

In [29]:
0.04/252

0.00015873015873015873

In [28]:
excessRet

                 OIH       RKH       RTH
Date
2001-05-17       NaN       NaN       NaN
2001-05-18  0.008116 -0.003576 -0.002685
2001-05-21  0.008751  0.001127  0.022404
2001-05-22 -0.015264  0.018251  0.001305
2001-05-23 -0.037676 -0.001315 -0.019156
...              ...       ...       ...
2007-12-21  0.035025  0.020412  0.017750
2007-12-24  0.007276  0.012326  0.012560
2007-12-26  0.020400 -0.003947 -0.008008
2007-12-27 -0.017101 -0.020963 -0.009336
2007-12-28  0.007197 -0.003205  0.001651

[1663 rows x 3 columns]

In [32]:
excessRet.sum()/7

OIH    0.131498
RKH    0.027700
RTH   -0.006922
dtype: float64

In [18]:
M=252*excessRet.mean()

In [19]:
M

OIH    0.139568
RKH    0.029400
RTH   -0.007346
dtype: float64

In [20]:
C=252*excessRet.cov()

In [21]:
C

          OIH       RKH       RTH
OIH  0.110901  0.020014  0.018255
RKH  0.020014  0.037165  0.026893
RTH  0.018255  0.026893  0.041967

In [22]:
F=np.dot(inv(C), M)

In [23]:
F

array([ 1.2919082 ,  1.17226473, -1.48821285])

In [24]:
g=0.04+np.dot(F.T, np.dot(C, F))/2

In [25]:
g

0.15285357898405594

In [26]:
S=np.sqrt(np.dot(F.T, np.dot(C, F)))

In [27]:
S

0.4750864742003416