### 1.1 Type Hinting Examples

In [1]:
from typing import List, Dict, Tuple, Any
import numpy as np
import datetime

In [2]:
# A list of floating point numbers
v: List[float] = [i * 1.23 for i in range(10)]
v

[0.0, 1.23, 2.46, 3.69, 4.92, 6.15, 7.38, 8.61, 9.84, 11.07]

In [3]:
# A list of mixed type values
v: List[Any] = ['apple', 123, 'banana', None]
v

['apple', 123, 'banana', None]

In [4]:
# A dictionary of floats indexed by dates
v: Dict[datetime.date, float] = {
    datetime.date.today(): 123.456,
    datetime.date(2000, 1, 1): 234.567,
}
v

{datetime.date(2023, 8, 20): 123.456, datetime.date(2000, 1, 1): 234.567}

In [5]:
# A dictionary of lists of strings indexed by tuples of integers
v: Dict[Tuple[int, int], List[str]] = {
    (2, 3): [
        'apple', 
        'banana',
    ],
    (4, 7): [
        'orange',
        'pineapple',
    ]
}
v

{(2, 3): ['apple', 'banana'], (4, 7): ['orange', 'pineapple']}

In [6]:
# An incorrect type hint
# Your compiler or IDE might complain about this
v: List[str] = [1, 2, 3]
v

[1, 2, 3]

In [7]:
# A possibly incorrect type hint
# There is no concensus on whether or not this is correct
v: List[float] = [1, None, 3, None, 5]
v

[1, None, 3, None, 5]

In [8]:
# This is non-descript but correct
v: List = [(1,2,'a'), (4,5,'b')]
v

[(1, 2, 'a'), (4, 5, 'b')]

In [9]:
# This is more descriptive
v: List[Tuple[int, int, str]] = [(1,2,'a'), (4,5,'b')]
v

[(1, 2, 'a'), (4, 5, 'b')]

In [10]:
# Custom types are supported
from typing import NewType
StockTicker = NewType('StockTicker', np.float64)
ticker: StockTicker = 'AAPL'
ticker

'AAPL'

In [11]:
# Functions can define input and return types
def convert_to_string(value: Any) -> str:
    return str(value)

### 1.2 Pandas Data Types

In [12]:
import pandas as pd
import datetime

In [13]:
data = {
    'SPY': {
        datetime.date(2000, 1, 4): 100,
        datetime.date(2000, 1, 5): 101,
    },
    'AAPL': {
        datetime.date(2000, 1, 4): 300,
        datetime.date(2000, 1, 5): 303,
    },
}
df: pd.DataFrame = pd.DataFrame(data=data)
df

            SPY  AAPL
2000-01-04  100   300
2000-01-05  101   303

In [14]:
# Index by column
aapl_series: pd.Series = df['AAPL']
aapl_series

2000-01-04    300
2000-01-05    303
Name: AAPL, dtype: int64

In [15]:
# Index by row
start_of_year_row: pd.Series = df.loc[datetime.date(2000, 1, 4)]
start_of_year_row

SPY     100
AAPL    300
Name: 2000-01-04, dtype: int64

In [16]:
# Index by both
start_of_year_price: pd.Series = df['AAPL'][datetime.date(2000, 1, 4)]
start_of_year_price

300

### 1.3 Pandas Data Types Part 2

In [17]:
# Create a series
series = pd.Series(data=data['SPY'])
series

2000-01-04    100
2000-01-05    101
dtype: int64

### 1.4 Pandas Indexes

In [18]:
### Begin listing

dates = [datetime.date(2000, 1, i) for i in range(1, 11)]
values = [i**2 for i in range(1, 11)]
series = pd.Series(data=values, index=dates)
series

2000-01-01      1
2000-01-02      4
2000-01-03      9
2000-01-04     16
2000-01-05     25
2000-01-06     36
2000-01-07     49
2000-01-08     64
2000-01-09     81
2000-01-10    100
dtype: int64

In [19]:
# O(n) time complexity search through a list
datetime.date(2000, 1, 5) in dates

True

In [20]:
# O(1) time complexity search through an index
datetime.date(2000, 1, 5) in series.index

True